<div class="container">
  <div class="row">
    <div class="logo">
      <b>{{logosig}}</b>
      <button class="btn" (click)="hideMenu()"><b *ngIf="hideclick">MENU</b> <i class="fa fa-bars"></i></button>
    </div>
    <div class="menu">
      <button><span>option1 </span></button>
      <button><span>option2 </span></button>
      <button><span>option3 </span></button>
      <button><span>option4 </span></button>
      <button><span>option5 </span></button>
      <button><span>option6 </span></button>
    </div>
  </div>
</div>