<!--
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>{{ welcome }}</h2><br>
        <p>{{ login }} <a href="./home-page.html">LOG IN</a></p>
        <p>{{ join }} <a href="#">REQUEST TO JOIN</a></p>
        <hr>
        <app-server></app-server>
        <hr>
        <app-server1></app-server1>
        <hr>
        <app-home></app-home>
    </div>
  </div>
</div>
-->
<div class="container">
  <div class="row">
    <div class="menu">
      <app-initial></app-initial>
    </div>
    <div class="display">
      <app-display></app-display>
    </div>
  </div>
</div>