.menu{
    width: 16%;
    background-color: dimgrey;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
}
.display{
    width: 84%;
    background-color: rgb(227, 230, 225);
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
}